* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F2F2F2;
}

header {
  background-color: #5B1B1A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.somos {
  background-color: #5B1B1A;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

.somos:hover {
  background-color: white;
  color: #5B1B1A;
  padding: 10px 10px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

.contato {
  background-color: #5B1B1A;
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

.contato:hover {
  background-color: white;
  color: #5B1B1A;
  padding: 10px 10px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}


.agendar {
  background-color: white;
  color: #5B1B1A;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

.agendar:hover {
  background-color: #5B1B1A;
  color: #F2F2F2;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.25s ease-in-out;
}

.secao-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  background-color: white;
}

.texto-principal {
  font-size: 45px;
  color: #000000;
  max-width: 40%;
}

.main-text span {
  display: block;
  margin-bottom: 10px;
}

.arrow {
  font-size: 2rem;
  margin-top: 20px;
}

.carousel {
  max-width: 50%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.scroll-down {
  text-align: center;
  font-size: 2rem;
  color: #5B1B1A;
}

footer {
  background-color: #5B1B1A;
  color: white;
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.info {
  margin: 5px 0;
}

.label {
  background-color: #5B1B1A;

}

.resultados {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20pxpx;
}

.resultado-1 {
  height: 650px;
  border-radius: 75px;
  position: relative;
  right: 85px;
  z-index: 2;
}

.resultado-2 {
  height: 630px;
  border-radius: 75px;
  position: absolute;
  top: 30px;
  left: 20px;
  transform: rotate(1.5deg);
  z-index: 1;
}